* {
    margin: 0;
    padding: 0;
  
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    font-family: 'ubuntu', sans-serif;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    overflow: auto;
    padding: 12px 0px 12px 0px;
   
  }
  
  header{
    width: inherit;
    max-width: inherit;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 1%;
    background-color: rosybrown;
  }
  .nav-links{
    list-style: none;
  }
  .nav-links li {
    display: inline-block;
    padding: 0px 50px;
    margin-right: 1%;
    margin-left: 1%;
  }
  #hotel-logo {
    height: 60px;
    width: 60px;
  }
  
  
  header {
    top: 0;
  }
  
  footer {
    bottom: 0;
  
  }
  
  
  .footer {
    margin: 0;
    padding: 0;
  }
  
  
  footer {
    width: inherit;
    max-width: inherit;
    position: fixed;
    background-color: rosybrown;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0%;
  }
  footer p{
    font-size: 10px;
    color: black;
  }
  .contact-item{
    list-style: none;
    padding-left: 30px;
    
  }
  .links-nav{
    padding: 0px 22px;
  }
  .links-nav  li  {
    display: inline-block;
   
  }
  